<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="distinct.digitalsolutions.prabudhh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SubCategoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SuccessFailedPaymentStatusScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.PaymentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.PdfViewerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.NewUserDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ImportantDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SinglePostViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SingleSongActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.PlayListSongActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.CategoryViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.PostActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Authentication.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Authentication.VerifyOtpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Activities.CreateNotification" /> <!-- <receiver android:name=".HelperClasses.ReadPhoneStateClass"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PHONE_STATE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_Itg67itUtwDzuN" />
    </application>

</manifest>